@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: #0a0a0a;
  background-color: #fad302;
}

a {
  text-decoration: none;
  color: inherit;
}


/* Hompage */
.home-page {
  & div {
    max-width: 80vw;
    margin: auto;
    & h1 {
      font-weight: 900;
      margin: 1em 0;
    }
    & p {
      margin-bottom: 2em;
    }
  }
}

/* Add Beer Page */
.add-beer-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  & form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
  }
  & h1 {
    font-weight: 900;
    margin: 1em 0;
  }
  & label {
    font-size: 0.8rem;
    margin-top: 0.6rem;
  }
  & input, textarea {
    border: none;
    border-radius: 5px;
    padding: 0.4rem;
    font-size: 1rem;
    &:focus {
      background-color: #fad302;      
    }
  }
}


/* All beer page */
.titulo-all-beers{
  text-align: center;
  /* font-size: 2rem; */
  font-weight: 900;
  margin: 1em 0;
  & input {
    border: none;
    border-radius: 5px;
    padding: 0.4rem;
    font-size: 1rem;
    &:focus {
      background-color: #fad302;      
    }

  }
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fad302;
  border: none;
  & div {
    width: 300px;
    min-height: 550px;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    & img {
      width: 100%;
      height: 200px;
      object-fit: contain;
      border-radius: 5px;
      margin-bottom: 2rem;
    }
    & h2 {
      font-weight: 900;
      margin: 1em 0;
    }
    & p {
      margin-bottom: 1em;
    }
    
  }
}