@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: #0a0a0a;
  background-color: #fad302;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Loader  */
#contenedor {
  background-color: rgba(250, 240, 245, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  transition: all 1s ease;
  z-index: 10000;
}

#pre-carga {
  border: 15px solid #ccc;
  border-top-color: #f4266a;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: girar 1.5s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hompage */
.home-page {
  & div {
    max-width: 80vw;
    margin: auto;
    & h1 {
      font-weight: 900;
      margin: 1em 0;
    }
    & p {
      margin-bottom: 2em;
    }
  }
}

/* Add Beer Page */
.add-beer-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  & form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
  }
  & h1 {
    font-weight: 900;
    margin: 1em 0;
  }
  & label {
    font-size: 0.8rem;
    margin-top: 0.6rem;
  }
  & input, textarea {
    border: none;
    border-radius: 5px;
  }
}
